<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a [routerLink]="['']" class="header__logo-link">
        <img src="" alt="LOGO" class="header__logo" />
      </a>

      <nav class="header__nav">
        <li class="header__nav-item" *ngIf="!(isAuth$ | async)">
          <a [routerLink]="['auth']" class="header__nav-link"> Войти </a>
        </li>

        <li class="header__nav-item" *ngIf="!(isAuth$ | async)">
          <a [routerLink]="['reg']" class="header__nav-link">
            Зарегестрироваться
          </a>
        </li>

        <li class="header__nav-item" *ngIf="isAuth$ | async">
          <a class="header__nav-link"> Привет, {{ username }} </a>
        </li>

        <li class="header__nav-item" *ngIf="isAuth$ | async">
          <a
            [routerLink]="['auth']"
            class="header__nav-link"
            (click)="exit_account()"
          >
            Выйти
          </a>
        </li>
      </nav>
    </div>
  </div>
</header>
