<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a [routerLink]="['']" class="header__logo-link">
        <img src="" alt="LOGO" class="header__logo" />
      </a>

      <nav class="header__nav">
        <li class="header__nav-item">
          <a [routerLink]="['']" class="header__nav-link"> Войти </a>
        </li>

        <li class="header__nav-item">
          <a [routerLink]="['']" class="header__nav-link">
            Зарегестрироваться
          </a>
        </li>

        <li class="header__nav-item">
          <a [routerLink]="['']" class="header__nav-link"> Личный кабинет </a>
        </li>
      </nav>
    </div>
  </div>
</header>
