<div class="station__wrapper">
  <form
    class="station__top"
    [formGroup]="stationForm"
    (ngSubmit)="send()"
    novalidate
  >
    <label for="">
      <h6>Введите место отправления</h6>
      <input
        type="text"
        formControlName="firstStation"
        class="station__top-input"
        placeholder="Введите место отправления"
        required
        minlength="1"
      />
      <span
        *ngIf="
          _firstStation!.invalid &&
          (_firstStation!.touched || _firstStation!.dirty)
        "
      >
        <span *ngIf="_firstStation!.errors?.['required']"
          >Обязательное поле</span
        >
        <span
          *ngIf="!_firstStation!.errors?.['minLength'] && !_firstStation!.errors?.['required']"
          >Введенное значение слишком короткое
          {{ _firstStation!.errors?.['minLength'] }}</span
        >
      </span>
    </label>

    <label for="">
      <h6>Введите место назначения</h6>
      <input
        type="text"
        formControlName="lastStation"
        class="station__top-input"
        placeholder="Введите место назначения"
        required
        minlength="1"
      />
      <span
        *ngIf="
          _lastStation!.invalid &&
          (_lastStation!.touched || _lastStation!.dirty)
        "
      >
        <span *ngIf="_lastStation!.errors?.['required']"
          >Обязательное поле</span
        >
        <span
          *ngIf="!_lastStation!.errors?.['minLength'] && !_lastStation!.errors?.['required']"
          >Введенное значение слишком короткое
          {{ _lastStation!.errors?.['minLength'] }}</span
        >
      </span>
    </label>

    <button
      type="button"
      [disabled]="!stationForm.valid"
      class="station__send btn"
      (click)="send()"
    >
      Найти маршрут
    </button>
  </form>

  <ol class="station__list">
    <h2 class="station__title">Ваш маршрут</h2>
    <!-- Выводим все станции на пути от А до В -->
    <!-- <li class="station__list-item">
      <h3 class="station__list-title"></h3>
    </li> -->
  </ol>
</div>
