.station__wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 10px;
}

.station__top {
   display: grid;
   align-items: start;
   grid-template-rows: 3fr 3fr 2fr;
   justify-content: space-between;
   gap: 10px;
   width: 100%;
   grid-template-columns: 1fr;
   & label {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      & h6 {
         font-weight: normal;
         font-size: 16px;
         line-height: 1.2;
      }
      & span {
         color: red;
         font-size: 12px;
         display: flex;
         flex-direction: column;
      }
   }
   & input {
      width: 100%;
      border-radius: 5px;
      padding: 5px;
      border: 1px solid blue;
      outline: none;
      &:focus {
         outline: solid blue 1px;
      }
      &.ng-valid[required],
      .ng-valid.required {
         border-color: blue; /* green */
      }
      &.ng-valid[required]:focus,
      .ng-valid.required:focus {
         outline: solid blue 2px;
      }

      &.ng-invalid:not(form).ng-touched {
         border-color: red; /* red */
      }
      &.ng-invalid:not(form):focus.ng-touched {
         outline: solid red 2px;
      }
   }
   & .station__send {
   }
}
