body {
   margin: 0;
   font-family: sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   min-height: 100dvh;
   overflow-x: hidden;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul[class],
ol[class] {
   padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

ul[class] {
   list-style: none;
}

img {
   max-width: 100%;
   display: block;
}

input,
button,
textarea,
select {
   font: inherit;
   border: none;
   text-decoration: none;
   padding: 0;
   margin: 0;
}

body {
   height: 100%;
   width: 100%;
   font-size: 16px;
   line-height: 130%;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
}

.container {
   margin: 0 auto;
   padding: 0 10px;
   max-width: 1400px;
   height: 100%;
}
