<div class="container">
  <h2>
    Мобильная логистическая платформа для организации доставки грузов при помощи
    наземного и воздушного транспорта.
  </h2>
  <div class="main__wrapper">
    <app-stations
      class="station"
      [stations]="stations"
      (emitPath)="setPath($event)"
    ></app-stations>

    <app-control-panel
      *ngIf="stations"
      class="control-panel"
      [stations]="stations"
      [cost]="cost"
      [distance]="distance"
    ></app-control-panel>
  </div>
</div>
